@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: none;
    width: 300px;
    height: 200px;
    padding-right: 20px;
}
a {
    text-decoration: none;
    color: #c2c2c2;
}
a:hover {
    color: rgb(87, 169, 184);
}
header {
    display: flex;
    margin: 0 auto;
    background-color: rgb(90, 84, 84);
    max-width: 1165px;
    padding-bottom: 10px;
}
header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header h1 {
    text-decoration: underline
}
header  h2{
    color: #ddbc27d2;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
header img{
    height: 125px;
}
.container{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* Oculto o que está fora do .container */
    contain: paint;
}
/* SEÇÃO do contêiner de ITENS */
.container > div{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.item{
    max-width: 200px;
    max-height: 400px;
    min-height: 400px;
    /*background: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    border: 1px solid #e6e0e0;
    border-radius: 10px;
    padding: 0 20px;
    transition: .3s;
}
.item img{
    max-height: 200px;
    min-height: 200px;
}
.item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.price-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.button-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seção do carrinho */
.carrinho{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrinho .header-carrinho{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrinho .carrinho-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrinho .carrinho-item img{
    margin-right: 20px;
}
.carrinho .carrinho-item .carrinho-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrinho .carrinho-item .seletor-quantidade{
    display: inline-block;
    margin-right: 25px;
}
.carrinho .carrinho-item .carrinho-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrinho .carrinho-item .seletor-quantidade i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrinho .carrinho-item .carrinho-item-price{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrinho .carrinho-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrinho .carrinho-item .btn-eliminar i{
    pointer-events: none;
}

.carrinho-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrinho-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrinho-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrinho-total .btn-pagar:hover{
    scale: 1.05;
}



/*forms*/
.container-inputs{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.container-inputs > div{
    max-width: 1165px;
}
form{
    margin-top: 20px;
    width: 100%;
}
form > div{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
form input{
    max-width: 200px;
}
/* responsividade */
@media screen and (max-width: 850px) {
    .container {
      display: block;
    }
    .container-items{
        width: 100% !important;
    }
    .carrinho{
        width: 100%;
    }
  }

